<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    &nbsp;
    <div class="btn-group map-button">    
      <a href="#/" class="map-toggle btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-map-marker"></i> <span class="hidden-xs">Maps</span></a>
      <ul class="dropdown-menu">
        <li><a href="#/">GDP Map</a></li>
      </ul> 
    </div>
    <div class="btn-group country-button" name="country-button">    
      <a href="#/" class="country-toggle btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-th-list"></i> <span class="hidden-xs">Country Data</span></a>
      <ul class="dropdown-menu" ng-controller="MapDataCtrl">
        <li ng-repeat="country in countryNames | orderBy: 'country'">
          <a href="#/country" ng-click="setCountry(country)">{{country.country}}</a>
        </li>
      </ul> 
    </div>  
  </div>
<div class="navbar-center navbar-brand" href="#">
  <a class="navbar-brand">ASMTAX.ORG</a></div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse nav-links" id="navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#/">About</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div class="map-container container">
  <div class=" main-row row">
    <div class="col-xs-12 map no-float" id="chartdiv"></div>
  </div>
</div>
