//colors
@base: #ecf0f5;
@white: #fff;
@red: #a93d1a; //#f15725
@medium-red: #d9534f;
@dark-red: #d2322d;
@light-red: #d49e8c;
@carrot: #e67e22;
@orange: #f39c12;
@sandstorm: #f9bf3b;
@rose: #c0392b;
@Lynch: #404041;
@grey: #524444;

//fonts
@lato: 'Lato', sans-serif;
@opensans: 'Open Sans', sans-serif;
@roboto: 'Roboto', sans-serif;

body, html, {
  height: 100%;
}

.navbar {
  background-color: @red;
  border-radius: 0px;
  margin-bottom: 0px;
  border: 0px transparent;

  .nav-links li a {
    font-family: @lato;
    font-weight: 400;
    font-size: 1em;
    color: @white;
    padding-bottom: 3px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 15px;
    margin-left: 15px;
    -o-transition:.7s;
    -ms-transition:.7s;
    -moz-transition:.7s;
    -webkit-transition:.7s;
    transition:.7s;
  }

  .nav-links li a:hover {
    border-bottom: 2px solid @white;
    color: @white;
  }

}
.navbar .navbar-brand {
  float: none;
  a {
    font-family: @lato;
    color: @light-red;
    font-size: 1.187em; //21px / 16px
    font-weight: 900;
  }
}

.navbar-center
{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  height:100%;
}

.dropdown-toggle {
  z-index: 99;
}

.navbar-toggle {
  z-index: 99999;
}

.navbar-header .btn-group .btn {
  background-color: @medium-red;
  border: none;
  color: @white;
  padding-left: 5px;
  padding-right: 5px;
}

.navbar-header .btn-group .btn:hover {
  background-color: @dark-red;
  color: @white;
}


.navbar-default .navbar-toggle {
    border-color: transparent;
  }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }

.navbar-default .navbar-toggle .icon-bar {
    background-color: @white;
}

.country-button .dropdown-menu {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

.map-container {
  height: 100%;
  width: 100%;
  display: table;
  // margin-top: -50px;
  // padding: 50px 0 0 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main-row {
  height: 100%;
  display: table-row;
}

.map.no-float {
  float: none;
}

.map {
  display: table-cell;
}

.country-view {
  margin-top: 50px;

  hr {
    height: 1px;
    background-color: #dddddd;
  }
}

.country-header p {
  display: inline-block;
  font-size: 29px;
}

.details > p {
  padding-left: 10px;
}

.royalty > p, .tariff > p {
  padding-left: 10px;
}

.country-view .view-sources ul {
  padding-left: 10px;
}

.country-view .view-sources li {
  list-style: none;
  span a {

    padding-left: 10px;
    word-wrap: break-word;
    font-family: Helvetica;
  }
}
// .main {
//   display:table;
//   width: 100%;
//   margin-top: -50px;
//   padding: 50px 0 0 0; /*set left/right padding according to needs*/
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
// }

// .col-md-2.no-float, .col-md-10.no-float {
//   float: none;
// }

// .main-list {
//   background-color: @base;
//   display: table-cell;
// }

// .main-row > #chartdiv {
//   display: table-cell;
//   height: 100%;
//   width: 100%;
//   border: 1px solid black;
// }
// #chartdiv {
// height: 100%;
// display: table-cell;
// float: none;
// } 

// .logo {
//   font-family: @lato;
//   font-weight: 400;
//   font-size: 27px;
// }

// .footer {
//   height: 65px; 
  
//   .container-fluid, .row,
//   .footer-logo, .footer-info {
//     height: 100%;
//   }

//   .footer-info, .footer-logo {
//     background-color: @red;
//   }

//   .vertical-align {
//     .footer-logo {
//       justify-content: left;
//     }
//   }

//   a {
//     color: @white;
//     text-decoration: none;
//     font-size: 1.86em;
//   }
// }


// //Used for centering content inside a bootstrap col
//  .vertical-align {
//   // display: flex;
//   flex-direction: row;
// }

// .vertical-align > [class^="col-"],
// .vertical-align > [class*=" col-"] {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

/// Media Queries ///

/* Large desktops and laptops */
@media (min-width: 1200px) {


}

// /* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {


}

// /* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {


}

// /* Landscape phones and portrait tablets */
@media (max-width: 767px) {


}

// /* Landscape phones and smaller */
@media (max-width: 480px) {
  .footer {
    .vertical-align {
      .footer-logo {
        background-color: @red;
        justify-content: center;
      }
    }
  }
  
.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center;
}


  .footer {
    height: 20px;

    a {
      font-size:  .97em; // 15px / 16px
    }
  }

}
