<section class="footer">
  <div class="container-fluid">
    <div class="row vertical-align">
      <div class="footer-logo col-sm-12 col-md-2">
        <a href="/">ASMTAX.ORG</a>
      </div>
      <div class="footer-info col-sm-12 col-md-10">
      content
      </div>
    </div>
  </div>
</section>