
<section class="main container">
  <div class="row main-row">
    <div class="main-list no-float col-md-2 col-sm-2 hidden-xs">
      <p>Contries</p>
    </div>
    <div class="main-map no-float col-md-10 col-sm-10" id="chartdiv"></div>
  </div>
</section>