
<section class="main container-fluid">
  <div class="main-list col-md-2 col-sm-2 hidden-xs">
    <p>Contries</p>
  </div>
  <div class="main-map col-md-10 col-sm-10" id="chartdiv"></div>
</section>